<style>
    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }

    .table > tbody > tr > th {
        text-align: center;
    }

    .table > tbody > tr > td {
        text-align: center;
    }
</style>
<div class="panel-group" id="menu" style="min-width:120px">
    <div class="panel panel-default">
        <div class="panel-heading ">
            <h4 class="panel-title ">
                <a data-toggle="collapse" data-parent="#menu" href="#menuOne">
                    课程相关
                </a>
            </h4>
        </div>
        <div id="menuOne" class="panel-collapse collapse">
            <div class="panel-body">
                <ul>
                    <li>
                        <a href="/Tutor/Index">课程列表</a>
                    </li>
                    <li>
                        <a href="/Tutor/Create">创建课程</a>
                    </li>
                    <!--li>
                        <a href="/Tutor/StudentList">学生列表</a>
                    <li-->
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading ">
            <h4 class="panel-title ">
                <a data-toggle="collapse" data-parent="#menu" href="#menuTwo">
                    个人信息
                </a>
            </h4>
        </div>
        <div id="menuTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <ul>
                    <li>
                        <a href="/Tutor/ChangePassword">修改密码</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>