
<ul class="nav nav-list well" style="margin-top:15%;margin-bottom:15%;font-size:small;min-width:120px">
    <li>
        <a href="/Tutor/Calendar">活动日历</a>
    </li>
    <li class="nav-header">
        课程相关
    </li>
    <li>
        <a href="/Tutor/Create">创建课程</a>
    </li>
    <li>
        <a href="/Tutor/Index">课程列表</a>
    </li>
    <li>
        <a href="/Tutor/ChangePassword">修改密码</a>
    </li>
    <li>
        <a href="/Tutor/StudentList">学生列表</a>
    </li>
</ul>