@model IEnumerable<Web.Models.CourseOperation>

@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>

<table class="table">
    <tr>
        <th>
            课名
        </th>
        <th>
            开始时间
        </th>
        <th>
            地点
        </th>
        <th></th>
    </tr>

@for (int i = 1; i.ToString() != TempData["Days"].ToString(); i++)
{
    for (int t = 0; t.ToString() != TempData["Days" + i].ToString(); t++)
    {
    <tr>
        <td>
            @TempData["Day"+i+t+"Name"]
        </td>
        <td>
            @TempData["Day" + i + t + "Name"] 
        </td>
        <td>
            @TempData["Day" + i + t+ "StartTime"] 
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Guid.Parse(TempData["Day" + i + t + "Id"].ToString())})
        </td>
    </tr>
    }
}

</table>
