@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav">
            <li class="a">
                @Html.ActionLink("你好，" + Web.Models.Extensions.GetCurrentUser().DisplayName + "！", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage",@style="padding-left:0px;padding-right:0px" })
            </li>
            <li class="a"><a href="javascript:document.getElementById('logoutForm').submit()">注销</a></li>
        </ul>
    }
}
else
{
    <li class="a">@Html.ActionLink("注册", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="a">@Html.ActionLink("登录", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

}
