
@{
    ViewBag.Title = "京贸创客";
}

<style>
    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }
</style>
<section class="sec2" style="background-image:url(/img/chengxin1.jpg)">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader">关于 | 京贸创客 </b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section class="pagesec">
    <div class="container-fluid pagecontainer">
        <div class="row">
            <ul class="breadcrumb col-md-6 col-xs-12">
                <li>
                    <a href="#">首页</a> <span class="divider"></span>
                </li>
                <li class="active">
                    关于<span class="divider"></span>
                </li>
                <li class="active">京贸创客</li>
            </ul>
        </div>
        <div class="row" style="padding:20px 15%;background:url(../../img/divider6.jpg) center">
            <h5 align="center" style="color:white;font-family:SimHei">京贸创客简介</h5>
            <p style="color:white;line-height:250%;-moz-column-count:2; -webkit-column-count:2;column-count:2;">
                <b style="font-weight:bold">“京贸创客”创业联盟</b>，是在“北京市高等学校经济与贸易类专业群”的支持下，
                由对外经济贸易大学国际经济贸易学院联合北京地区兄弟高校的经济贸易类院系共建的创业联盟，
                该联盟成立于2015年10月，以“学科交叉”培养为核心，鼓励学生自由组队、孵化优秀创业项目，
                希望借此激发首都高校学生的实践能力、创新精神，以最终达到实践育人的目的。<br />
                <b style="font-weight:bold">京贸创客网站</b>是“京贸创客”创业联盟的官方网站，网站运营期间持续接受来自北京地区各兄弟高校学生的创业项目。
                网站分为声音、学习、在线、活动、培育等几大板块，通过此网站发布相关赛事资讯，
                并为首都高校学生提供创业相关资源，如各兄弟高校创业相关讲座资源、创业指导、创业训练等。
                在创业起步阶段给予同学们支持，助力创业之路。
            </p>
        </div>
    </div>
</section>
<section class="pagesec">
    <div class="container-fluid pagecontainer">
        <div class="row" style="padding:20px 15%;">
            <h5 align="center" style="color:black;font-family:SimHei">场地简介</h5>
            <div class="col-xs-4"></div>
            <div class="col-xs-8">
                <p style="line-height:250%;">
                    <b style="font-weight:bold">京贸创客活动区（Test）<br /></b>
                    京贸创客活动区是首都高校学生跨学校、跨学科交流创业想法、合作创业的空间。面向“京贸创客”联盟各兄弟高校的在校师生及校友开放。场地位于对外经济贸易大学博学楼1220，给同学们提供了一个讨论、实践的开放空间。<br />
                    地址：对外经济贸易大学博学楼1220
                </p>
            </div>
        </div>
    </div>
</section>
<section class="pagesec">
    <div class="container-fluid pagecontainer">
        <div class="row" style="padding:20px 15%">
            <h5 align="center" style="color:black;font-family:SimHei">合作伙伴</h5>
            <div class="col-md-8 col-xs-10">
                <p style="line-height:250%;">
                    合作伙伴介绍：“京贸创客”创业联盟的人才培养方式得到了各企业家和校友的广泛认可，已有部分企业与“京贸创客”创业联盟建立了合作关系，为联盟的运营持续提供资源和资金支持。<br />
                    <b style="font-weight:bold">战略合作伙伴：对外经济贸易大学校友会（Test）<br /></b>
                </p>
            </div>
            <div class="col-md-4 col-xs-2"></div>
        </div>        
        <div class="row" style="margin-left:-15px;margin-right:-15px;padding:20px 15%; background-color:#ececed;">
            <h5 align="center" style="color:black;font-family:SimHei">联系方式</h5>
            <p style="line-height:250%;-moz-column-count:2; -webkit-column-count:2;column-count:2;">
                <b style="font-weight:bold;font-family:SimHei">联系方式：（Test）<br /></b>
                <a style="font-weight:bold;font-family:SimHei">公共邮箱：jingmaochuangke@163.com<br /></a>
                <b style="font-weight:bold;font-family:SimHei"> 官方微信：京贸创客<br /></b>
            </p>
        </div>
        <div class="row" style="padding:20px 15%">
            <h5 align="center" style="color:black;font-family:SimHei">加盟我们</h5>
            <p style="line-height:250%;">
                <b style="font-weight:bold;font-family:SimHei">
                    如何加盟：（Test）<br />
                    办公地点：北京市朝阳区对外经济贸易大学 博学楼<br />
                    <a>简历投递：jingmaochuangke@163.com<br /></a>
                </b>
            </p>
        </div>
    </div>
</section>