
@{
    ViewBag.Title = "AboutSite";
}

<style>
    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }
</style>
<section class="sec2" style="background-image:url(/img/chengxin1.jpg)">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader">关于 | 京贸创客 </b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section class="pagesec">
    <div class="container-fluid pagecontainer">
        <div class="row">
            <ul class="breadcrumb col-md-6 col-xs-12">
                <li>
                    <a href="#">首页</a> <span class="divider"></span>
                </li>
                <li class="active">
                    关于<span class="divider"></span>
                </li>
                <li class="active">京贸创客</li>
            </ul>
        </div>
        <div class="row" style="padding:20px 15%">
            <h5 align="center" style="color:black;font-family:SimHei">京贸创客简介</h5>
            <p style="line-height:250%;-moz-column-count:2; -webkit-column-count:2;column-count:2;">
                Lorem ipsum dolor sit amet
                Consectetur adipiscing elit
                Integer molestie lorem at massa
                Facilisis in pretium nisl aliquet
                Nulla volutpat aliquam velit<br />
                Faucibus porta lacus fringilla vel
                Aenean sit amet erat nunc
                Eget porttitor lorem
                Lorem ipsum dolor sit amet
                Consectetur adipiscing elit
                Integer molestie lorem at massa
                Facilisis in pretium nisl aliquet
                Nulla volutpat aliquam velit
                Phasellus iaculis neque
                Purus sodales ultricies
                Vestibulum laoreet porttitor sem
                Ac tristique libero volutpat at
                Faucibus porta lacus fringilla vel
                Aenean sit amet erat nunc
                Eget porttitor lorem
            </p>
        </div>
        <div class="row" style="margin-left:-15px;margin-right:-15px;padding:20px 15%; background-color:#ececed;">
            <div class="col-md-4 col-xs-2"></div>
            <div class="col-md-8 col-xs-10">
                <h5 align="center" style="color:black;font-family:SimHei">场地简介</h5>
                <p style="line-height:250%;">
                    Lorem ipsum dolor sit amet
                    Consectetur adipiscing elit
                    Integer molestie lorem at massa
                    Facilisis in pretium nisl aliquet
                    Nulla volutpat aliquam velit
                    Faucibus porta lacus fringilla vel
                    Aenean sit amet erat nunc
                    Eget porttitor lorem
                    Lorem ipsum dolor sit amet
                    Consectetur adipiscing elit
                    Integer molestie lorem at massa
                    Facilisis in pretium nisl aliquet
                    Nulla volutpat aliquam velit
                    Phasellus iaculis neque
                    Purus sodales ultricies
                    Vestibulum laoreet porttitor sem
                    Ac tristique libero volutpat at
                    Faucibus porta lacus fringilla vel
                    Aenean sit amet erat nunc
                    Eget porttitor lorem
                </p>
            </div>
        </div>
        <div class="row" style="padding:20px 15%">
            <div class="col-md-8 col-xs-10">
                <h5 align="center" style="color:black;font-family:SimHei">合作伙伴</h5>
                <p style="line-height:250%;">
                    Lorem ipsum dolor sit amet
                    Consectetur adipiscing elit
                    Integer molestie lorem at massa
                    Facilisis in pretium nisl aliquet
                    Nulla volutpat aliquam velit
                    Faucibus porta lacus fringilla vel
                    Aenean sit amet erat nunc
                    Eget porttitor lorem
                    Lorem ipsum dolor sit amet
                    Consectetur adipiscing elit
                    Integer molestie lorem at massa
                    Facilisis in pretium nisl aliquet
                    Nulla volutpat aliquam velit
                    Phasellus iaculis neque
                    Purus sodales ultricies
                    Vestibulum laoreet porttitor sem
                    Ac tristique libero volutpat at
                    Faucibus porta lacus fringilla vel
                    Aenean sit amet erat nunc
                    Eget porttitor lorem
                </p>
            </div>
            <div class="col-md-4 col-xs-2"></div>
        </div>
        <div class="row" style="margin-left:-15px;margin-right:-15px;padding:20px 15%; background-color:#ececed;">
            <h5 align="center" style="color:black;font-family:SimHei">联系方式</h5>
            <p style="line-height:250%;-moz-column-count:2; -webkit-column-count:2;column-count:2;">
                Lorem ipsum dolor sit amet
                Consectetur adipiscing elit
                Integer molestie lorem at massa
                Facilisis in pretium nisl aliquet
                Nulla volutpat aliquam velit
                Faucibus porta lacus fringilla vel
                Aenean sit amet erat nunc
                Eget porttitor lorem
                Lorem ipsum dolor sit amet
                Consectetur adipiscing elit
                Integer molestie lorem at massa
                Facilisis in pretium nisl aliquet
                Nulla volutpat aliquam velit
                Phasellus iaculis neque
                Purus sodales ultricies
                Vestibulum laoreet porttitor sem
                Ac tristique libero volutpat at
                Faucibus porta lacus fringilla vel
                Aenean sit amet erat nunc
                Eget porttitor lorem
            </p>
        </div>
        <div class="row" style="padding:20px 15%">
            <h5 align="center" style="color:black;font-family:SimHei">加盟我们</h5>
            <p style="line-height:250%;">
                Lorem ipsum dolor sit amet
                Consectetur adipiscing elit
                Integer molestie lorem at massa
                Facilisis in pretium nisl aliquet
                Nulla volutpat aliquam velit
                Faucibus porta lacus fringilla vel
                Aenean sit amet erat nunc
                Eget porttitor lorem
                Lorem ipsum dolor sit amet
                Consectetur adipiscing elit
                Integer molestie lorem at massa
                Facilisis in pretium nisl aliquet
                Nulla volutpat aliquam velit
                Phasellus iaculis neque
                Purus sodales ultricies
                Vestibulum laoreet porttitor sem
                Ac tristique libero volutpat at
                Faucibus porta lacus fringilla vel
                Aenean sit amet erat nunc
                Eget porttitor lorem
            </p>
        </div>
    </div>
</section>
