
@{
    ViewBag.Title = "AboutNew";
}

<style>
    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }
</style>
<div class="col-md-12" style="display:block;height:300px;padding-left:0;padding-right:0;background-image:url(../../img/qiusuo1.jpg);background-size:cover;">

</div>
<div class="col-md-1"></div>
<div class="col-md-10" style="padding-top:2%;padding-bottom:0;background-color:white;margin-bottom:8%">
    <div class="row">
        <ul class="breadcrumb col-md-6">
            <li>
                <a href="#">首页</a> <span class="divider"></span>
            </li>
            <li class="active">
                关于<span class="divider"></span>
            </li>
            <li class="active">创业企业&创新项目</li>
        </ul>
    </div>
    <div class="row demo-swatches-row" id="Self">
        <div class="col-md-3" style="font-family:'Microsoft YaHei UI'">
            <h6 align="center" id="Companies">创业企业</h6>
            <h6 align="center">Companies</h6>
        </div>
        <div class="pallete-item col-md-3">
            <dl class="palette palette-turquoise">
                <dt>企业类型</dt>
                <dd></dd>
            </dl>
            <dl class="palette palette-green-sea">
                <dt>企业类型</dt>
                <dd></dd>
            </dl>
        </div>
        <div class="pallete-item col-md-3">
            <dl class="palette palette-emerald">
                <dt>企业类型</dt>
                <dd></dd>
            </dl>
            <dl class="palette palette-nephritis">
                <dt>企业类型</dt>
                <dd></dd>
            </dl>
        </div>
        <div class="pallete-item col-md-3">
            <dl class="palette palette-amethyst">
                <dt>企业类型</dt>
                <dd></dd>
            </dl>
            <dl class="palette palette-wisteria">
                <dt>企业类型</dt>
                <dd></dd>
            </dl>
        </div>
        <div class="pallete-item col-md-3">
            <dl class="palette palette-clouds">
                <dt>企业类型</dt>
                <dd></dd>
            </dl>
            <dl class="palette palette-silver">
                <dt>企业类型</dt>
                <dd></dd>
            </dl>
        </div>
    </div>
    <div class="row demo-swatches-row" id="Self">
        <div class="col-md-3" style="font-family:'Microsoft YaHei UI'">
            <h6 align="center" id="Projects">创业项目</h6>
            <h6 align="center">Projects</h6>
        </div>
        <div class="pallete-item col-md-3">
            <dl class="palette palette-sun-flower">
                <dt>项目类型</dt>
                <dd></dd>
            </dl>
            <dl class="palette palette-orange">
                <dt>项目类型</dt>
                <dd></dd>
            </dl>
        </div>
        <div class="pallete-item col-md-3">
            <dl class="palette palette-carrot">
                <dt>项目类型</dt>
                <dd></dd>
            </dl>
            <dl class="palette palette-pumpkin">
                <dt>项目类型</dt>
                <dd></dd>
            </dl>
        </div>
        <div class="pallete-item col-md-3">
            <dl class="palette palette-alizarin">
                <dt>项目类型</dt>
                <dd></dd>
            </dl>
            <dl class="palette palette-pomegranate">
                <dt>项目类型</dt>
                <dd></dd>
            </dl>
        </div>
        <div class="pallete-item col-md-3">
            <dl class="palette palette-concrete">
                <dt>项目类型</dt>
                <dd></dd>
            </dl>
            <dl class="palette palette-asbestos">
                <dt>项目类型</dt>
                <dd></dd>
            </dl>
        </div>
    </div>
</div>

<div class="col-md-1"></div>



