
@{
    ViewBag.Title = "AboutNew";
}

<style>
    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }
</style>
<div class="col-md-12" style="display:block;height:300px;padding-left:0;padding-right:0;background-image:url(../../img/qiusuo1.jpg);background-size:cover;">

</div>
<div class="col-md-1"></div>
<div class="col-md-10" style="padding-top:2%;padding-bottom:0;background-color:white;margin-bottom:8%">
    <div class="row">
        <ul class="breadcrumb col-md-6">
            <li>
                <a href="#">首页</a> <span class="divider"></span>
            </li>
            <li class="active">
                关于<span class="divider"></span>
            </li>
            <li class="active">创业企业&创新项目</li>
        </ul>
    </div>
    <div style="padding:20px 15%">
        <div class="pallete-item col-md-2" align="center">
            <dl class="palette palette-turquoise">
                <dt></dt>
                <dd>创业企业</dd>
            </dl>
            <dl class="palette palette-green-sea">
                <dt></dt>
                <dd>Methods</dd>
            </dl>
        </div><br />
    </div>
</div>
<div class="col-md-1"></div>



