
@{
    ViewBag.Title = "AboutNew";
}

<style>
    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }
</style>
<section class="sec2" style="background-image:url(/img/chengxin1.jpg)">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader">关于 | 创业企业 </b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section>
    <div class="container-fluid" style="padding:70px 0;padding-left:10%;padding-right:10%;">
        <div class="row">
            <ul class="breadcrumb col-md-6">
                <li>
                    <a href="#">首页</a> <span class="divider"></span>
                </li>
                <li class="active">
                    关于<span class="divider"></span>
                </li>
                <li class="active">创业企业</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-xs-12" style="font-family:'Microsoft YaHei UI';text-align:center;">
                <h6 id="Companies">创业企业</h6>
                <h6>Companies</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-6 comdiv">
                <img class="comimg" src="~/img/icons/ico1.png">
                <a class="comtext">科技创业</a>
            </div>

            <div class="col-md-4 col-xs-6 comdiv">
                <img class="comimg" src="~/img/icons/ico3.png">
                <a class="comtext">方向研究</a>
            </div>

            <div class="col-md-4 col-xs-6 comdiv">
                <img class="comimg" src="~/img/icons/ico4.png">
                <a class="comtext">实业项目</a>
            </div>

            <div class="col-md-4 col-xs-6 comdiv">
                <img class="comimg" src="~/img/icons/ico5.png">
                <a class="comtext">金融在线</a>
            </div>

            <div class="col-md-4 col-xs-6 comdiv">
                <img class="comimg" src="~/img/icons/ico6.png">
                <a class="comtext">文娱产业</a>
            </div>

            <div class="col-md-4 col-xs-6 comdiv">
                <img class="comimg" src="~/img/icons/ico7.png">
                <a class="comtext">复合方向</a>
            </div>
        </div>
    </div>
</section>



