@model List<Web.Models.Calendar>
@{
    Layout = "";
}

@foreach (var item in Model)
{
    <li class="calli">
        <span class="fui-check"></span>@Html.ActionLink(item.Name, "Details", "Activity", new { id = item.Id }, new { @class = "actname" })
        <br>
        <p class="actcontent">@item.ShortContent</p>
    </li>
}

