@model List<Web.Models.Calendar>
@{
    Layout = "";
}

@foreach (var item in Model)
{
    <li class="calli">
        <span class="fui-new"></span>@Html.ActionLink(item.Name, "Details", "Activity", new { id = item.Id }, new { })
        <br>
        @item.ShortContent
    </li>
}

