@model Web.Models.ListPage<Web.Models.Material>
@{
    ViewBag.Title = "资料下载";
}

<style>
    h2 {
        font-family: 'Microsoft YaHei';
        color: #577492;
        text-align: center;
    }

    .table > tbody > tr > th {
        text-align: center;
    }

    .table > tbody > tr > td {
        text-align: center;
    }

    dl {
        text-align: center;
    }

    dd {
        color: #3C5B45;
        font-family: Arial;
        font-size: larger;
    }

    dt {
        color: #608D4E;
        font-family: Arial;
        font-size: larger;
    }

    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }
</style>
<section class="sec2" style="background-image:url(../../img/mate1.jpg);">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader">@ViewBag.Title |模板文件  </b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section style="display: table;width: 100%;height: auto; padding: 100px 0 100px; color:black;position: relative;">
    <div class="row" style="padding:0 5%;">
        <table class="table table-striped">
            <tr>
                <th>
                    文件描述
                </th>
                <th>
                    上传时间
                </th>
                <th>
                    文件类型
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href=@Url.Content(item.GetUrl())>@item.Description</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Web.Models.EnumExtension.GetEnumCustomDescription(item.Type)
                    </td>
                </tr>
            }
        </table>
    </div>
</section>  