
@{
    ViewBag.Title = "学习";
}

<style>
    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }
</style>
<section class="sec2">
    <div class="cover">
    </div>
    <div class="row animated pulse a">
        <b class="secheader">学习|个人、课程、项目</b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section style="display: table;width: 100%;height: auto; padding: 100px 0 100px; color:black;position: relative;">
    <div class="container-fluid" style="padding-left:10%;padding-right:10%">
        <div class="row demo-swatches-row" style="margin-bottom:40px;">
            <div class="btn-group btn-group-lg" style="font-family:'Microsoft YaHei UI'">
                <a href="#self" class="btn btn-primary jmp1">个人学习</a>
                <a href="#course" class="btn btn-info jmp2">课程学习</a>
                <a href="#project" class="btn btn-warning jmp3">项目学习</a>
                <!--a href="#mooc" class="btn btn-danger jmp4">MOOC</a-->
            </div>
        </div>
        <div id="self" class="row r1" style="background-color:white;margin-left:-15px;margin-right:-15px;padding:20px 15%;">
            <h5 align="center" style="color:black;font-family:SimHei">个人学习</h5>
            <h6 align="center" style="color:black;font-family:'Microsoft YaHei UI'" id="Methods">工具</h6>
            <p style="line-height:250%;">
                1、 <b style="font-weight:bold;">创业网</b>：</a>
                创业网是目前国内最大的创业社区网站，旨在为创业者搭建一个覆盖创业各领域、实现创业信息对等交流的综合性平台。创业网(chuangye.com)自成立以来一直致力于解决创业中的实际问题，以创业者实际需求为聚合中心，设立了找项目、找资源、星探、最钱沿、晒创业等五大板块。创业者可以在创业网自主免费发布信息、开放点评创业项目、探索发现创新模式、交换成败创业经验。此外创业网力邀优秀专家学者、优秀企业家和创业成功人士等组成创业导师团，亲手相传创业经验技能，在线回答创业疑难杂症，为成功创业提供指导。
            </p>
            <p style="line-height:250%;">
                2、	<b style="font-weight:bold;">90后创业论坛</b>：90后创业论坛是一个网络综合社区，创建于2009年9月5日，是一个专业型90后创业交流平台。 90后创业论坛仅定位于90年以后的创业者、梦想者，所有用户及内容都来自于对创业梦想的执着、对成功的自豪、出生于90年代以及热爱和关注90后创业的人们。90后创业论坛致力于打造纯正的90后创业者的网络社区，为90后创业者提供良好的交流平台、分享平台。
            </p>
            <p style="line-height:250%;">
                3、	<b style="font-weight:bold;">大学生创业论坛</b>：大学生创业论坛致力于给大学生以及更多年轻创业者提供一个免费交流学习的平台，在这里不仅可以结识很多同仁朋友交流创业经验，还可以免费领取创业教程以及各类丰富的实战资料可供下载。全新全意引领更多大学生创业，帮助大学生提高创业的成功率，大学生创业，有执行力就有可能！
            </p>
            <p style="line-height:250%;">
                4、	<b style="font-weight:bold;">优米创业APP</b>：优米创业APP是为创业者、职场人士及大学生打造的国内领先移动学习平台。讲师团队包括史玉柱、马云、王石等商界大佬及各行业专家，内容覆盖营销、创业商机、领导力、投资融资、税务法律、礼仪、就业、理财等。产品亮点:.最热问题、最新政策;真实案例、即学即用;用户需求、量身制定;亲身交流、积累人脉;云端同步、精致体验.
            </p>
            <h6 align="center" style="color:black;font-family:'Microsoft YaHei UI'" id="Books">图书推荐</h6>
            <p style="text-align:center;font-size:14px;font-weight:bold;">(点击书名可阅读下载pdf)</p>
            <p style="line-height:250%;">
                <a href="~/Files/file4.pdf" target="_blank">1. 《史蒂夫`乔布斯传》</a>
                乔布斯不一定是世界上有史以来最好的创业者，但一定是其中之一。乔布斯有如过山车般精彩的人生和炽热激越的性格成就了一个传奇，一个极具创造力的企业领袖，他追求完美和誓不罢休的激情使个人电脑、动画电影、音乐、手机、平板电脑以及数字出版等六大产业发生了颠覆性变革，他用产品改变了世界，他的思想影响了一代又一代的企业家、创业者。
                <br>
                <a href="~/Files/file8.pdf" target="_blank">2. 《蓝海战略》</a>
                《蓝海战略》为企业甩脱竞争提供了一套系统性的方法。在这本颠覆传统战略思维的着作中，作者展示了一套经过实践证明的分析框架和工具，供企业成功地开创和夺取蓝海。通过对各种产业中为数众多的战略行动的分析，作者还提出了成功制定和执行蓝海战略的六项原则。这些原则告诉企业，该如何重建市场边界、注重全局、超越现有需求、遵循合理的战略顺序、克服组织障碍并把战略的执行建成战略的一部分。
                <br>
                <a href="~/Files/file5.pdf" target="_blank">3. 《参与感:小米口碑营销内部手册》</a>
                作为“人类历史上达到百亿美元销售，百亿美元估值发展最快的公司”(徐小平语)，小米的成功可以称为互联网时代的创业教程。小米是如何做到4年600亿，它正如外界那样讲的只是靠营销么？雷军为何一直说小米销售的是参与感？本文从团队、产品、营销、设计、服务等多个层面介绍小米模式，为你还原一个真实的小米。读完本书，你会发现市面上关于小米的解读大部分都是误解、误读和误传。《参与感：小米口碑营销内部手册》不仅是创业必读书，更是传统企业互联网转型必读书。
                <br>
                <a href="~/Files/file10.pdf" target="_blank">4. 《卓有成效的管理者》</a>
                启蒙中国现代管理第一书！管理大师彼得?德鲁克的经典作品。管理要抓住本质，抓住重点，用人、决策、战略，你在这些方面的工作做到卓有成效了吗?卓有成效不是天生的，没有天生的卓越领导者，这是可以通过学习学会的。
                <br>
                <a href="~/Files/file7.pdf" target="_blank"> 5. 《创业小败局》</a>
                《创业家》杂志5年精选，数千个案例中挑选出的最经典、最普遍、最有启示价值的案例！21个最具代表性的失败案例，每个案例都代表了一种最常见的失败规律，也基本上覆盖了当下中国创业浪潮中，最容易遭遇的创业陷阱！
                <br>
                <a href="~/Files/file1.pdf" target="_blank"> 6.《创业全程攻略》</a>
                本书是一本引导大学生如何创业的谋略读物。全书紧紧围绕创业这一主题，对青年人如何认识创业入手，从创业的动因、环境、潜质及创业模式、企业团队的建立、企业的运营管理模式进行了系统地阐述，且结合创业成功的实例，深入浅出为大学生创业提供了极有价值的参考。
                <br>
                <a href="~/Files/file2.pdf" target="_blank"> 7.《创业之道：创新与创业大讲堂实录》</a>
                《创业之道:创新与创业大讲堂实录》是上海交通大学创新与创业大讲堂近五年来部分演讲的实录。著名企业家、投资人、创业者以及创业管理领域的教授，从创业精神与创业价值、创业能力、创业路径和创业环境等方面，以不同的视角向我们讲述了不同行业创业者的心路历程，揭示出了睿智的创业智慧，和我们分享了富有启迪的创业语录。
                <br>
                <a href="~/Files/file3.pdf" target="_blank"> 8.《从0到1：开启商业与未来的秘密》</a>
                硅谷创投教父、PayPal创始人作品，斯坦福大学改变未来的一堂课，彼得蒂尔在本书中详细阐述了自己的创业历程与心得，包括如何避免竞争、如何进行垄断、如何发现新的市场。解读世界运行的脉络，分享商业与未来发展的逻辑。
                <br>
                <a href="~/Files/file6.pdf" target="_blank">9.《创业维艰》</a>
                在《创业维艰》中，本•霍洛维茨从自己的创业经历讲起，以自己在硅谷近20余年的创业、管理和投资经验，对创业公司（尤其是互联网技术公司）的创立、经营、人才选拔、企业文化、销售、CEO与董事会的关系等方方面面，毫无保留地奉上自己的经验之谈。他还谈到了与比尔•坎贝尔、安迪•拉切列夫、迈克尔•奥维茨等硅谷顶级CEO和投资人的交往经历，从他们身上学到的宝贵经验，以及他和马克•安德森这对绝佳拍档为何能够一起奋斗18年还能合作得这么好。大多数创业书所说的都是如何做正确的事，不把事情搞砸，而本•霍洛维茨还会告诉你：当事情已经搞砸时，你该怎么办。
                <br>
                <a href="~/Files/file9.pdf" target="_blank">10．《世界上最伟大的推销员》</a>
                这是一本在全世界范围内影响巨大的书，适合任何阶层的人阅读。它振奋人心，激励斗志，改变了许多人的命运。这本书记载了一则感人肺腑的传奇故事。一个名叫海菲的牧童，从他的主人那里幸运地得到十道神秘的羊皮卷，遵循卷中的原则，他执着创业，最终成为了一名伟大的推销员。建立起了一座浩大的商业王国。

            </p>
            <h6 align="center" style="color:black;font-family:'Microsoft YaHei UI'" id="Online">网上课程</h6>
            <p style="line-height:250%;">

            </p>
        </div>
        <div id="course" class="r2" style="margin-left:-15px;margin-right:-15px;padding:20px 15%; background-color:#ececed;">
            <h5 align="center" style="color:black;font-family:SimHei" id="Courses">课程学习</h5>
            <p style="line-height:250%;">
                <a style="font-weight:bolder;font-family:'Microsoft YaHei'"> 1.课程：创业实践<br /></a>
                <b style="font-weight:bold;font-family:'Microsoft YaHei'">开课学校：对外经济贸易大学<br /></b>
                课程简介：为大学高年级学子和社会上有志创业者提供一本深入浅出、理论与实践相结合的创业入门教程。以一般创业活动的逻辑关系为经，将创业实践中常用的经济学、管理学知识作纬，罗织、铺陈出创业实践的门径和最应关注的问题，提供解决问题的基本方法。虽难免“挂漏”之虞，却不失“管窥”之效，于读者创业实践定将有所裨益。
            </p>
            <p style="line-height:250%;">
                <a style="font-weight:bolder;font-family:'Microsoft YaHei'">2.课程：风险投资与创业管理<br />                </a>
                <b style="font-weight:bold;font-family:'Microsoft YaHei'">开课学校：对外经济贸易大学<br /></b>
                课程简介：风险投资，简称是VC，在中国是一个约定俗成的具有特定内涵的概念，其实把它翻译成创业投资更为妥当。广义的风险投资泛指一切具有高风险、高潜在收益的投资；狭义的风险投资是指以高新技术为基础，生产与经营技术密集型产品的投资。根据美国全美风险投资协会的定义，风险投资是由职业金融家投入到新兴的、迅速发展的、具有巨大竞争潜力的企业中一种权益资本
            </p>
            <p style="line-height:250%;">
                <a style="font-weight:bolder;font-family:'Microsoft YaHei'">3.课程：IT战略与企业竞争优势<br /></a>
                <b style="font-weight:bold;font-family:'Microsoft YaHei'">开课学校：对外经济贸易大学<br /></b>
                课程介绍：所谓企业竞争优势，是指企业在产出规模、组织结构、劳动效率、品牌、产品质量、信誉、新产品开发以及管理和营销技术等方面所具有的各种有利条件。企业竞争优势是这些有利条件有利构成的整体，是企业竞争力形成的基础和前提条件。这里所指的企业竞争力，是指企业设计、生产和销售产品和劳务，参与市场竞争的综合能力。这种能力主要是由企业自身所拥有的竞争优势所决定的。
            </p>
            <p style="line-height:250%;">
                <a style="font-weight:bolder;font-family:'Microsoft YaHei'">4.课程：责任型创业<br /></a>
                <b style="font-weight:bold;font-family:'Microsoft YaHei'">开课学校：对外经济贸易大学<br /></b>
                课程简介：整合了当今世界顶尖管理学院既有的创业教育成果与非营利性和公共管理领域的前沿方法，不仅可以作为日益兴起的社会创业课程的基础课程，还可以作为非营利管理、非营利领导以及商业创业课程的参考课程。
            </p>
        </div>
        <div id="project" class="r3" style="margin-left:-15px;margin-right:-15px;padding:20px 15%; background-color:white;">
            <h5 align="center" style="color:black;font-family:SimHei" id="Projects">项目学习</h5>
            <p style="line-height:250%;">
                暂无
            </p>
        </div>       
    </div>
</section>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('.jmp1').click(function () { $('html,body').animate({ scrollTop: $('.r1').offset().top }, 600); });
        $('.jmp2').click(function () { $('html,body').animate({ scrollTop: $('.r2').offset().top }, 800); });
        $('.jmp3').click(function () { $('html,body').animate({ scrollTop: $('.r3').offset().top }, 600); });
        $('.jmp4').click(function () { $('html,body').animate({ scrollTop: $('.r4').offset().top }, 800); });
    });
</script>

