
@{
    ViewBag.Title = "Lea_Self";
}

<style>
    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }
</style>
<section class="sec2">
    <div class="cover">
    </div>
    <div class="row animated pulse a">
        <b class="secheader">学习|个人、课程、项目</b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section style="display: table;width: 100%;height: auto; padding: 100px 0 100px; color:black;position: relative;">
    <div class="container-fluid" style="padding-left:10%;padding-right:10%">
       <div class="row demo-swatches-row" style="margin-bottom:40px;">
           <div class="btn-group btn-group-lg" style="font-family:'Microsoft YaHei UI'">
               <a href="#self" class="btn btn-primary jmp1">个人学习</a>
               <a href="#course" class="btn btn-info jmp2">课程学习</a>
               <a href="#project" class="btn btn-warning jmp3">项目学习</a>
               <a href="#mooc" class="btn btn-danger jmp4">MOOC</a>
           </div>
       </div>
        <!--div class="row demo-swatches-row" id="Self">
            <div class="pallete-item col-xs-3">
                <dl class="learnpart palette palette-turquoise">
                    <dd>个人学习</dd>
                </dl>
                <dl class="palette palette-green-sea">
                    <dt><a href="#Methods" style="color:white">工具</a></dt>
                    <dd>Tools</dd>
                </dl>
            </div>
            <div class="pallete-item col-xs-3">
                <dl class="learnpart palette palette-emerald">
                    <dd>个人学习</dd>
                </dl>
                <dl class="palette palette-nephritis">
                    <dt><a href="#Books" style="color:white">图书推荐</a></dt>
                    <dd>Books</dd>
                </dl>
            </div>
            <div class="pallete-item col-xs-3">
                <dl class="learnpart palette palette-amethyst">
                    <dd>个人学习</dd>
                </dl>
                <dl class="palette palette-wisteria">
                    <dt><a href="#Online" style="color:white">网上课程</a></dt>
                    <dd>Online</dd>
                </dl>
            </div>
        </!--div>
        <div class="row demo-swatches-row">
            <div class="col-xs-3" style="font-family:'Microsoft YaHei UI'">
                <h6 align="center" id="Cou">课程学习</h6>
                <h6 align="center">Course Learning</h6>
            </div>
            <div class="pallete-item">
                <dl class="palette palette-sun-flower">
                    <dt></dt>
                    <dd></dd>
                </dl>
                <dl class="palette palette-orange">
                    <dt><a href="#Courses" style="color:white">课程</a></dt>
                    <dd>Course</dd>
                </dl>
            </div>
        </div>
        <div class="row demo-swatches-row">
            <div class="col-xs-3" style="font-family:'Microsoft YaHei UI'">
                <h6 align="center" id="Pro">项目学习</h6>
                <h6 align="center">Project Learning</h6>
            </div>
            <div class="pallete-item">
                <dl class="palette palette-carrot">
                    <dt></dt>
                    <dd></dd>
                </dl>
                <dl class="palette palette-pumpkin">
                    <dt><a href="#Projects" style="color:white">项目</a></dt>
                    <dd>Project</dd>
                </dl>
            </div>
        </div>
        <div class="row demo-swatches-row">
            <div class="col-xs-3" style="font-family:'Microsoft YaHei UI'">
                <h6 align="center" id="Moo">贸大云学堂</h6>
                <h6 align="center">Mooc</h6>
            </div>
            <div class="pallete-item">
                <dl class="palette palette-wet-asphalt">
                    <dt></dt>
                    <dd></dd>
                </dl>
                <dl class="palette palette-midnight-blue">
                    <dt><a href="#MOOC" style="color:white">贸大云学堂</a></dt>
                    <dd>Mooc</dd>
                </dl>
            </div>
        </div-->
        <div id="self" class="row r1" style="background-color:white;margin-left:-15px;margin-right:-15px;padding:20px 15%;">
            <h5 align="center" style="color:black;font-family:SimHei">个人学习</h5>
            <h6 align="center" style="color:black;font-family:'Microsoft YaHei UI'" id="Methods">工具</h6>
            <p style="line-height:250%;">
                1、 <b style="font-weight:bold;">创业网</b>：</a>
                创业网是目前国内最大的创业社区网站，旨在为创业者搭建一个覆盖创业各领域、实现创业信息对等交流的综合性平台。创业网(chuangye.com)自成立以来一直致力于解决创业中的实际问题，以创业者实际需求为聚合中心，设立了找项目、找资源、星探、最钱沿、晒创业等五大板块。创业者可以在创业网自主免费发布信息、开放点评创业项目、探索发现创新模式、交换成败创业经验。此外创业网力邀优秀专家学者、优秀企业家和创业成功人士等组成创业导师团，亲手相传创业经验技能，在线回答创业疑难杂症，为成功创业提供指导。
            </p>
            <p style="line-height:250%;">
                2、	<b style="font-weight:bold;">90后创业论坛</b>：90后创业论坛是一个网络综合社区，创建于2009年9月5日，是一个专业型90后创业交流平台。 90后创业论坛仅定位于90年以后的创业者、梦想者，所有用户及内容都来自于对创业梦想的执着、对成功的自豪、出生于90年代以及热爱和关注90后创业的人们。90后创业论坛致力于打造纯正的90后创业者的网络社区，为90后创业者提供良好的交流平台、分享平台。
</p>
            <p style="line-height:250%;">
                3、	<b style="font-weight:bold;">大学生创业论坛</b>：大学生创业论坛致力于给大学生以及更多年轻创业者提供一个免费交流学习的平台，在这里不仅可以结识很多同仁朋友交流创业经验，还可以免费领取创业教程以及各类丰富的实战资料可供下载。全新全意引领更多大学生创业，帮助大学生提高创业的成功率，大学生创业，有执行力就有可能！
</p>
            <p style="line-height:250%;">
                4、	<b style="font-weight:bold;">优米创业APP</b>：优米创业APP是为创业者、职场人士及大学生打造的国内领先移动学习平台。讲师团队包括史玉柱、马云、王石等商界大佬及各行业专家，内容覆盖营销、创业商机、领导力、投资融资、税务法律、礼仪、就业、理财等。产品亮点:.最热问题、最新政策;真实案例、即学即用;用户需求、量身制定;亲身交流、积累人脉;云端同步、精致体验.
</p>
            <h6 align="center" style="color:black;font-family:'Microsoft YaHei UI'" id="Books">图书推荐</h6>
            <p style="line-height:250%;">
                暂无
            </p>
            <h6 align="center" style="color:black;font-family:'Microsoft YaHei UI'" id="Online">网上课程</h6>
            <p style="line-height:250%;">
                暂无
            </p>
        </div>
        <div id="course" class="r2" style="margin-left:-15px;margin-right:-15px;padding:20px 15%; background-color:#ececed;">
            <h5 align="center" style="color:black;font-family:SimHei" id="Courses">课程学习</h5>
            <p style="line-height:250%;">
                <a style="font-weight:bolder;font-family:'Microsoft YaHei'"> 1.课程：创业实践<br /></a>
                <b style="font-weight:bold;font-family:'Microsoft YaHei'">开课学校：对外经济贸易大学<br /></b>
                课程简介：为大学高年级学子和社会上有志创业者提供一本深入浅出、理论与实践相结合的创业入门教程。以一般创业活动的逻辑关系为经，将创业实践中常用的经济学、管理学知识作纬，罗织、铺陈出创业实践的门径和最应关注的问题，提供解决问题的基本方法。虽难免“挂漏”之虞，却不失“管窥”之效，于读者创业实践定将有所裨益。
            </p>
            <p style="line-height:250%;">
                <a style="font-weight:bolder;font-family:'Microsoft YaHei'">2.课程：风险投资与创业管理<br />                </a>
                <b style="font-weight:bold;font-family:'Microsoft YaHei'">开课学校：对外经济贸易大学<br /></b>
                课程简介：风险投资，简称是VC，在中国是一个约定俗成的具有特定内涵的概念，其实把它翻译成创业投资更为妥当。广义的风险投资泛指一切具有高风险、高潜在收益的投资；狭义的风险投资是指以高新技术为基础，生产与经营技术密集型产品的投资。根据美国全美风险投资协会的定义，风险投资是由职业金融家投入到新兴的、迅速发展的、具有巨大竞争潜力的企业中一种权益资本
            </p>
            <p style="line-height:250%;">
                <a style="font-weight:bolder;font-family:'Microsoft YaHei'">3.课程：IT战略与企业竞争优势<br /></a>
                <b style="font-weight:bold;font-family:'Microsoft YaHei'">开课学校：对外经济贸易大学<br /></b>
                课程介绍：所谓企业竞争优势，是指企业在产出规模、组织结构、劳动效率、品牌、产品质量、信誉、新产品开发以及管理和营销技术等方面所具有的各种有利条件。企业竞争优势是这些有利条件有利构成的整体，是企业竞争力形成的基础和前提条件。这里所指的企业竞争力，是指企业设计、生产和销售产品和劳务，参与市场竞争的综合能力。这种能力主要是由企业自身所拥有的竞争优势所决定的。
            </p>
            <p style="line-height:250%;">
                <a style="font-weight:bolder;font-family:'Microsoft YaHei'">4.课程：责任型创业<br /></a>
                <b style="font-weight:bold;font-family:'Microsoft YaHei'">开课学校：对外经济贸易大学<br /></b>
                课程简介：整合了当今世界顶尖管理学院既有的创业教育成果与非营利性和公共管理领域的前沿方法，不仅可以作为日益兴起的社会创业课程的基础课程，还可以作为非营利管理、非营利领导以及商业创业课程的参考课程。
            </p>
        </div>
        <div id="project" class="r3" style="margin-left:-15px;margin-right:-15px;padding:20px 15%; background-color:white;">
            <h5 align="center" style="color:black;font-family:SimHei" id="Projects">项目学习</h5>
            <p style="line-height:250%;">
                暂无
            </p>
        </div>
        <div id="mooc" class="r4" style="margin-left:-15px;margin-right:-15px;margin-bottom:8%;padding:20px 15%; background-color:#ececed">
            <h5 align="center" style="color:black;font-family:SimHei" id="MOOC">MOOC</h5>
            <p style="line-height:250%;text-align:center;">
                <a href="http://mooc.uibeonline.cn" target="_blank" style="font-size:18px;font-weight:bolder">责任型创业 贸大云课堂</a>
            </p>
        </div>
    </div>
</section>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('.jmp1').click(function () { $('html,body').animate({ scrollTop: $('.r1').offset().top }, 600); });
        $('.jmp2').click(function () { $('html,body').animate({ scrollTop: $('.r2').offset().top }, 800); });
        $('.jmp3').click(function () { $('html,body').animate({ scrollTop: $('.r3').offset().top }, 600); });
        $('.jmp4').click(function () { $('html,body').animate({ scrollTop: $('.r4').offset().top }, 800); });
    });
</script>

