
@{
    ViewBag.Title = "Lea_Self";
}

<style>
    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }
</style>
<div class="col-md-12" style="display:block;height:300px;padding-left:0;padding-right:0;background-image:url(../../img/qiusuo1.jpg);background-size:cover;">

</div>
<div class="col-md-1"></div>
<div class="col-md-10" style="padding-top:2%;padding-bottom:2%">
    <div class="row demo-swatches-row" id="Self">
        <div class="col-md-3" style="font-family:'Microsoft YaHei UI'">
            <h6 align="center">个人学习</h6>
            <h6 align="center">Self Learning</h6>
        </div>
        <div class="pallete-item col-md-3">
            <dl class="palette palette-turquoise">
                <dt></dt>
                <dd></dd>
            </dl>
            <dl class="palette palette-green-sea">
                <dt><a href="#Methods" style="color:white">方法</a></dt>
                <dd>Methods</dd>
            </dl>
        </div>
        <div class="pallete-item col-md-3">
            <dl class="palette palette-emerald">
                <dt></dt>
                <dd></dd>
            </dl>
            <dl class="palette palette-nephritis">
                <dt><a href="#Books" style="color:white">图书推荐</a></dt>
                <dd>Books</dd>
            </dl>
        </div>
        <div class="pallete-item col-md-3">
            <dl class="palette palette-amethyst">
                <dt></dt>
                <dd></dd>
            </dl>
            <dl class="palette palette-wisteria">
                <dt><a href="#Online" style="color:white">网上课程</a></dt>
                <dd>Online</dd>
            </dl>
        </div>
    </div>

    <div class="row demo-swatches-row" id="Course">
        <div class="col-md-3" style="font-family:'Microsoft YaHei UI'">
            <h6 align="center" id="Cou">课程学习</h6>
            <h6 align="center">Course Learning</h6>
        </div>
        <div class="pallete-item">
            <dl class="palette palette-sun-flower">
                <dt></dt>
                <dd></dd>
            </dl>
            <dl class="palette palette-orange">
                <dt><a href="#Courses" style="color:white">课程</a></dt>
                <dd>Course</dd>
            </dl>
        </div>
    </div>
    <div class="row demo-swatches-row" id="Course">
        <div class="col-md-3" style="font-family:'Microsoft YaHei UI'">
            <h6 align="center" id="Pro">项目学习</h6>
            <h6 align="center">Project Learning</h6>
        </div>
        <div class="pallete-item">
            <dl class="palette palette-carrot">
                <dt></dt>
                <dd></dd>
            </dl>
            <dl class="palette palette-pumpkin">
                <dt><a href="#Projects" style="color:white">项目</a></dt>
                <dd>Project</dd>
            </dl>
        </div>
    </div>
    <div style="margin-left:-15px;margin-right:-15px;padding:20px 15%; background-color:#ececed;">
        <h5 align="center" style="color:black;font-family:SimHei">个人学习</h5>
        <h6 align="center" style="color:black;font-family:'Microsoft YaHei UI'" id="Methods">方法</h6>
        <p style="line-height:250%;" >
            Lorem ipsum dolor sit amet
            Consectetur adipiscing elit
            Integer molestie lorem at massa
            Facilisis in pretium nisl aliquet
            Nulla volutpat aliquam velit
            Faucibus porta lacus fringilla vel
            Aenean sit amet erat nunc
            Eget porttitor lorem
            Lorem ipsum dolor sit amet
            Consectetur adipiscing elit
            Integer molestie lorem at massa
            Facilisis in pretium nisl aliquet
            Nulla volutpat aliquam velit
            Phasellus iaculis neque
            Purus sodales ultricies
            Vestibulum laoreet porttitor sem
            Ac tristique libero volutpat at
            Faucibus porta lacus fringilla vel
            Aenean sit amet erat nunc
            Eget porttitor lorem
        </p>
        <h6 align="center" style="color:black;font-family:'Microsoft YaHei UI'" id="Books">图书推荐</h6>
        <p style="line-height:250%;" >
            Lorem ipsum dolor sit amet
            Consectetur adipiscing elit
            Integer molestie lorem at massa
            Facilisis in pretium nisl aliquet
            Nulla volutpat aliquam velit
            Faucibus porta lacus fringilla vel
            Aenean sit amet erat nunc
            Eget porttitor lorem
            Lorem ipsum dolor sit amet
            Consectetur adipiscing elit
            Integer molestie lorem at massa
            Facilisis in pretium nisl aliquet
            Nulla volutpat aliquam velit
            Phasellus iaculis neque
            Purus sodales ultricies
            Vestibulum laoreet porttitor sem
            Ac tristique libero volutpat at
            Faucibus porta lacus fringilla vel
            Aenean sit amet erat nunc
            Eget porttitor lorem
        </p>
        <h6 align="center" style="color:black;font-family:'Microsoft YaHei UI'"id="Online">网上课程</h6>
        <p style="line-height:250%;">
            Lorem ipsum dolor sit amet
            Consectetur adipiscing elit
            Integer molestie lorem at massa
            Facilisis in pretium nisl aliquet
            Nulla volutpat aliquam velit
            Faucibus porta lacus fringilla vel
            Aenean sit amet erat nunc
            Eget porttitor lorem
            Lorem ipsum dolor sit amet
            Consectetur adipiscing elit
            Integer molestie lorem at massa
            Facilisis in pretium nisl aliquet
            Nulla volutpat aliquam velit
            Phasellus iaculis neque
            Purus sodales ultricies
            Vestibulum laoreet porttitor sem
            Ac tristique libero volutpat at
            Faucibus porta lacus fringilla vel
            Aenean sit amet erat nunc
            Eget porttitor lorem
        </p>
    </div>
    <div style="margin-left:-15px;margin-right:-15px;padding:20px 15%; background-color:#ececed;">
        <h5 align="center" style="color:black;font-family:SimHei"id="Courses">课程</h5>
        <p style="line-height:250%;" >
            Lorem ipsum dolor sit amet
            Consectetur adipiscing elit
            Integer molestie lorem at massa
            Facilisis in pretium nisl aliquet
            Nulla volutpat aliquam velit
            Faucibus porta lacus fringilla vel
            Aenean sit amet erat nunc
            Eget porttitor lorem
            Lorem ipsum dolor sit amet
            Consectetur adipiscing elit
            Integer molestie lorem at massa
            Facilisis in pretium nisl aliquet
            Nulla volutpat aliquam velit
            Phasellus iaculis neque
            Purus sodales ultricies
            Vestibulum laoreet porttitor sem
            Ac tristique libero volutpat at
            Faucibus porta lacus fringilla vel
            Aenean sit amet erat nunc
            Eget porttitor lorem
        </p>
    </div>
    <div style="margin-left:-15px;margin-right:-15px;padding:20px 15%; background-color:#ececed;">
        <h5 align="center" style="color:black;font-family:SimHei"id="Projects">项目</h5>
        <p style="line-height:250%;" >
            Lorem ipsum dolor sit amet
            Consectetur adipiscing elit
            Integer molestie lorem at massa
            Facilisis in pretium nisl aliquet
            Nulla volutpat aliquam velit
            Faucibus porta lacus fringilla vel
            Aenean sit amet erat nunc
            Eget porttitor lorem
            Lorem ipsum dolor sit amet
            Consectetur adipiscing elit
            Integer molestie lorem at massa
            Facilisis in pretium nisl aliquet
            Nulla volutpat aliquam velit
            Phasellus iaculis neque
            Purus sodales ultricies
            Vestibulum laoreet porttitor sem
            Ac tristique libero volutpat at
            Faucibus porta lacus fringilla vel
            Aenean sit amet erat nunc
            Eget porttitor lorem
        </p>
    </div>
</div>
<div class="col-md-1"></div>




