
@{
    ViewBag.Title = "Mooc";
}

<style>
    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }

    td > p {
        font-size: 10px;
        text-align: center;
    }
</style>
<section class="sec2">
    <div class="cover">
    </div>
    <div class="row animated pulse a">
        <b class="secheader">学习|@ViewBag.Title</b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section style="display: table;width: 100%;height: auto; padding: 100px 0 100px; color:black;position: relative;">
    <div class="container-fluid" style="padding-left:10%;padding-right:10%">
        <div class="row demo-swatches-row" style="margin-bottom:40px;">
            <div class="btn-group btn-group-lg" style="font-family:'Microsoft YaHei UI'">

                <a href="#mooc" class="btn btn-danger jmp4">MOOC</a>
            </div>
        </div>
        <div id="mooc" class="r4" style="margin-left:-15px;margin-right:-15px;margin-bottom:8%;padding:20px 15%; background-color:white">
            <h5 align="center" style="color:black;font-family:SimHei" id="MOOC">MOOC</h5>
            <p style="line-height:250%;text-align:center;">
                <a href="http://mooc.uibeonline.cn" target="_blank" style="font-size:18px;font-weight:bolder"><strong>链接：</strong>责任型创业 贸大云课堂</a>
                <br>«责任型创业» — 走向成功的恒久动力！对外经济贸易大学远程教育学院、北京罗世力国际管理咨询有限公司和CTI联合研发的«责任型创业»在线课程。点燃激情，挖掘潜能，欢迎加入我们的课程！
                <br><!--img src="~/img/moocintro.jpg"-->
                <strong>学习申请：</strong>
            <p>
                登录网站：mooc.uibeonline.cn →注册个人邮箱→确认邮件验证码
            </p>
            <strong>课程主旨：</strong>
            <p>
                帮助学员树立自主创业的信心，指导学员在创业过程里客观面对挑战和理性解决难题，引领学员在未来事业发展的道路上走得更远更好。
            </p>
            <strong>课程内容：</strong>
            <p>
                “责任型创业”系列课程现包含两门在线课程：《如何撰写商业计划书》和《经济伦理学原理》。每门课程包含8节课程，每节课程的视频授课时间20分钟；在线学习时间约90分钟，包括课堂讨论、阅读学习资料、课后作业、随堂测验、个案分析等内容。
            </p>
            <p>
                《如何撰写商业计划书》主要内容：指导学员完成从设想一个商业创意开始，直至撰写出商业计划书的每一步。在8节课程里，帮助每位学员逐渐确立创业的动机、目标和使命，寻找到适合自身发展的事业路径，解决创业初期可能遇到的各种问题，以及制定企业营销计划、完善企业员工伙伴关系、掌握企业运营和财务管理知识等内容。
            </p>
            <p>
                《经济伦理学原理》主要内容：本课程着重阐述当代企业家精神和责任与企业可持续发展的必然关系，通过对中外企业家的专题采访，并结合现代伦理学理论，引导学员在创业和事业发展途中，学会规避风险抵制诱惑，做到坚守商业诚信、履行社会责任和弘扬企业家精神。
            </p>
            <strong>学费：</strong>
            <p>
                对于网络课程学习者，不需交费
            </p>
            <p>
                对于参加网络课程学习且申请对外经济贸易大学《学习证书》的学员，需在线支付800 元人民币/人/门课
            </p>
            <p>
                <strong>联系方式：</strong><br />
                <strong>邮箱：</strong><span>mooc@euibe.com</span><br />
                <strong>电话：：</strong><span>+86 - 010 - 64495012</span><br />
                <strong>网址：</strong><span>mooc.uibeonline.cn</span><br />
                <strong>地址：：</strong><span>中国北京朝阳区惠新东街10号对外经济贸易大学行远楼</span><br />
                <strong>邮编：</strong><span>100029</span><br />
            </p>
            <p><strong>课程名称（中文）：如何撰写商业计划书</strong></p>

            <p><strong>（英文）：HOW TO WRITE A BUSINESS PLAN</strong></p>

            <p>《责任型创业》系列课程是对外经济贸易大学云学堂推出的第一套大型网上在线课程，本系列目前已完成了《如何撰写商业计划书》及《经济伦理学原理》两门课程。课程内容详实、深入浅出，通过理论讲解与知名企业家采访相结合的方式，为潜在的创业者提供商业计划书撰写、创立企业及需要遵守的伦理道德等提供指导，以帮助他们从起步时就能够进入可持续发展的正确道路，为企业的长远发展打下坚实基础。</p>

            <p>第一门课程《如何撰写商业计划书》包括八个在线课时，它将指导您完成将商业创意转化为商业计划书，以提交给您将要借贷的银行或者潜在的投资方。在撰写商业计划书的过程中，您将真正的审视自己的商业创意，并在完成本课程所有作业后，适时进行相应的调整。本系列课程将帮您确立企业的使命、目标，制定企业营销计划、完善企业员工伙伴关系、掌握企业运营及基础财务管理的知识。</p>

            <p>当您注册并且认真地完成这门课的学习，您将有机会把您的商业计划书提交给本领域的资深教授审阅，同时优秀学员会得到对外经济贸易大学远程学院颁发的课程认证书。</p>

            <p>&nbsp;</p>

            <table align="left" border="0" cellpadding="0" cellspacing="0" class="table-bordered">
                <tbody>
                    <tr>
                        <td>
                            <p><strong>如何撰写商业计划书</strong></p>
                        </td>
                        <td>
                            <p><strong>中文名称</strong></p>
                        </td>
                        <td>
                            <p><strong>英文名称</strong></p>
                        </td>
                        <td>
                            <p><strong>简介</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>第一课</strong></p>
                        </td>
                        <td>
                            <p>责任型创业：导言</p>
                        </td>
                        <td>
                            <p>INTRODUCING RESPONSIBLE ENTREPRENEURSHIP</p>
                        </td>
                        <td>
                            <p>在本系列课程的第一节内容中，我们将率先向您介绍《责任型创业》的含义与内容，旨在帮助您发现自身是否适合创业，并指导您在市场中识别商机。</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>第二课</strong></p>
                        </td>
                        <td>
                            <p>商业概念落实在商业计划书中</p>
                        </td>
                        <td>
                            <p>TURNING YOUR CONCEPT INTO A BUSINESS PLAN</p>
                        </td>
                        <td>
                            <p>在第二课中，我们将会谈论如何将商业概念转化成商业计划书，同时还会指导您撰写商业计划书中的执行摘要。</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>第三课</strong></p>
                        </td>
                        <td>
                            <p>创业如何起步</p>
                        </td>
                        <td>
                            <p>HOW TO GET STARTED</p>
                        </td>
                        <td>
                            <p>本课主旨在于帮助您了解在创业起步时所涉及到的每一件事情，此外，我们还将为您阐述愿景、使命和价值观对于创业者和其商业计划书而言所具有的重要意义。</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>第四课</strong></p>
                        </td>
                        <td>
                            <p>市场调查与市场计划</p>
                        </td>
                        <td>
                            <p>MARKET RESEARCH AND MARKET PLAN</p>
                        </td>
                        <td>
                            <p>本课将重点阐述市场研究与市场计划大纲的内容，并将向您介绍如何细分市场，从而指导您完成商业计划书的市场研究和竞争部分。</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>第五课</strong></p>
                        </td>
                        <td>
                            <p>公司、员工和运营</p>
                        </td>
                        <td>
                            <p>COMPANY, PEOPLE AND OPERATIONS</p>
                        </td>
                        <td>
                            <p>本课中，我们将指导您撰写商业计划书中的公司、员工和合作伙伴以及运营部内容，与此同时，对这些部分的思考和撰写也将为您提供一个机会，从而认真思考您想拥有什么样的公司。</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>第六课</strong></p>
                        </td>
                        <td>
                            <p>市场营销与销售</p>
                        </td>
                        <td>
                            <p>MARKETING AND SALES</p>
                        </td>
                        <td>
                            <p>本课中将指导您撰写商业计划中市场营销和销售部分内容，同时，本课内容还将向您介绍如何接近客户、如何向其推广您的产品、并且激励他们在您的公司进行消费。</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>第七课</strong></p>
                        </td>
                        <td>
                            <p>企业融资</p>
                        </td>
                        <td>
                            <p>FUNDING YOUR BUSINESS</p>
                        </td>
                        <td>
                            <p>作为一名创业者，您需要维持自己生计的开销、支付员工工资、设备租赁和库存储备等等，这一切费用都需要您承担。本课中我们将讨论如何预估公司运营费用，以及如何获得必要的资本。</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>第八课</strong></p>
                        </td>
                        <td>
                            <p>现金流、盈亏平衡和利润表</p>
                        </td>
                        <td>
                            <p>CASHFLOW, BREAKEVEN AND THE INCOME STATEMENT</p>
                        </td>
                        <td>
                            <p>作为一名创业者，您是否惧怕复杂的财务工作呢？实际上，它比大多数人想象的要容易得多。在本单元的最后一课，我们向您简要介绍现金流预报、盈亏平衡和利润表，并且指导您完成商业计划书的最后一个部分&mdash;&mdash;财务报表。</p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <p><strong>课程名称（中文）：经济伦理学原理</strong></p>

            <p><strong>（英文）：APPLIED ETHICS</strong></p>

            <p>《责任型创业》系列课程是对外经济贸易大学云学堂推出的第一套大型网上在线课程，本系列目前已完成了《如何撰写商业计划书》及《经济伦理学原理》两门课程。课程内容详实、深入浅出，通过理论讲解与知名企业家采访相结合的方式，为潜在的创业者提供商业计划书撰写、创立企业及需要遵守的伦理道德等提供指导，以帮助他们从起步时就能够进入可持续发展的正确道路，为企业的长远发展打下坚实基础。</p>

            <p>第二门课程《经济伦理学原理》包括八个在线课时，它将向您阐述多种经济伦理学原理及其实际应用。在学习过程中，您将有机会审视自己的商业运作模式，并在伦理学原理的规范和引导下做出睿智的商业决策。本系列课程旨在帮助您建立一个良好的商业环境，使您能够坚守商业诚信、履行社会责任并弘扬企业家精神。</p>

            <p>当您注册并且认真地完成这门课的学习，您将有机会把您的商业伦理与道德决策案例研究论文提交给本领域的资深教授审阅，同时优秀学员会得到对外经济贸易大学远程学院颁发的课程认证书。</p>

            <p>&nbsp;</p>

            <table align="left" border="0" cellpadding="0" cellspacing="0" class="table-bordered">
                <tbody>
                    <tr>
                        <td>
                            <p><strong>经济伦理学原理</strong></p>
                        </td>
                        <td>
                            <p><strong>中文名称</strong></p>
                        </td>
                        <td>
                            <p><strong>英文名称</strong></p>
                        </td>
                        <td>
                            <p><strong>简介</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>第一课</strong></p>
                        </td>
                        <td>
                            <p>尽职调查</p>
                        </td>
                        <td>
                            <p>DUE DILIGENCE</p>
                        </td>
                        <td>
                            <p>在系列课程的第一课中，我们将介绍尽职调查的含义及流程。本课宗旨在于帮助您理解尽职调查的重要性以及如何就金融家评估企业时，对企业目前综合情况所关心的方方面面信息进行准备与展示。</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>第二课</strong></p>
                        </td>
                        <td>
                            <p>在全球化和数字化的环境中运营</p>
                        </td>
                        <td>
                            <p>OPERATING IN A GLOBALIZED AND DIGITALIZED WORLD</p>
                        </td>
                        <td>
                            <p>在第二课中，我们将会谈论如何在全球化和数字化的环境中经营您的企业，以及千年累积的人类智慧如何能够帮助商人重新回到经商之本。</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>第三课</strong></p>
                        </td>
                        <td>
                            <p>睿智决定</p>
                        </td>
                        <td>
                            <p>MAKING WISE DECISIONS</p>
                        </td>
                        <td>
                            <p>在第三课中，我们将介绍智慧的含义及其所包含的不同方面。本课旨在提升您的个人能力，并有助于使您成为一名能够做出睿智决策的智慧领导。</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>第四课</strong></p>
                        </td>
                        <td>
                            <p>直面腐败</p>
                        </td>
                        <td>
                            <p>DEALING WITH THE PRESSURES OF CORRUPTION</p>
                        </td>
                        <td>
                            <p>在本课中，我们将教您如何坚持自己的原则，并且建立一个不受行贿受贿、欺诈影响并保持良心自由的商业环境。</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>第五课</strong></p>
                        </td>
                        <td>
                            <p>关注企业经营中的环保问题</p>
                        </td>
                        <td>
                            <p>MAKING SENSE OF ENVIRONMENTAL QUESTIONS IN YOUR BUSINESS</p>
                        </td>
                        <td>
                            <p>本课中，我们将会谈论您的企业对于当地生态环境产生的影响以及如何通过贸易的方法来减少环境的负面影响。本课旨在帮助您以&ldquo;绿色思维&rdquo;创立环保企业并获得商机。</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>第六课</strong></p>
                        </td>
                        <td>
                            <p>建筑与工程伦理</p>
                        </td>
                        <td>
                            <p>ETHICAL ENGINEERING AND CONSTRUCTION</p>
                        </td>
                        <td>
                            <p>在本课中，我们将通过一个实例探讨不仅环保、并且还考虑到了社会需求的&ldquo;绿色建筑&rdquo;，并阐述如何执行具有可持续性和伦理性的工程实践。</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>第七课</strong></p>
                        </td>
                        <td>
                            <p>儒商</p>
                        </td>
                        <td>
                            <p>CONFUCIAN ETHICS AND ENTREPRENEURSHIP</p>
                        </td>
                        <td>
                            <p>在本课中，我们将向您介绍儒家思想以及国人皆知的&ldquo;五常&rdquo;，并提供了一个以儒家思想为基础的理想化企业模型的范例。本节课旨在帮助您思考价值观的来源，并且作为一名创业者如何应用这些价值观为社会做出贡献。</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>第八课</strong></p>
                        </td>
                        <td>
                            <p>辅助原则</p>
                        </td>
                        <td>
                            <p>THE PRINCIPLE OF SUBSIDIARITY</p>
                        </td>
                        <td>
                            <p>辅助原则意指作为领导者，您能够在组织中通过授权来帮助他人的行为。通过本课的学习，我们可以了解到辅助原则是如何鼓励我们履行责任型创业的承诺、尊重人类尊严并以此创造一个富有创新性的与积极性的企业文化。</p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>&nbsp;</p>
        </div>
    </div>
</section>