@model List<Web.Models.HomeTutorOnlineViewModel>
@{
    ViewBag.Title = "TutorOnline";
}
<style>
    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }
</style>
<section class="sec2" style="background-image:url(/img/chengxin1.jpg)">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader">培育 | 导师在线 </b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section class="pagesec">
    <div class="container-fluid pagecontainer">
        <div class="row">
            <ul class="breadcrumb col-md-6">
                <li>
                    <a href="#">首页</a> <span class="divider"></span>
                </li>
                <li class="active">
                    导师<span class="divider"></span>
                </li>
                <li class="active">导师在线</li>
            </ul>
        </div>
        <div style="padding:20px 15%">
            <h5 align="center" style="color:black;font-family:SimHei">导师在线</h5>
            @if (Model == null)
            {
                <a>啥也没有</a>
            }
            else
            {
                foreach (var item in Model)
                {
                    <div>
                        <p>@item.Name</p>
                        <p>@item.Position</p>
                        <p>@item.Introduction</p>
                        <img src="@Url.Content(item.Avatar.GetUrl())" />
                        @foreach (var c in item.Courses)
                        {
                            Html.ActionLink(c.Name, "Details", new { id = c.Id }, new { @class = "btn btn-success" });
                        }
                    </div>
                }
            }
        </div>
    </div>
</section>