
@{
    ViewBag.Title = "成为导师";
}

<style>
    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }
</style>
<section class="sec2" style="background-image:url(/img/chengxin1.jpg)">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader">培育 | 成为导师 </b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section class="pagesec">
    <div class="container-fluid pagecontainer">
        <div class="row">
            <ul class="breadcrumb col-md-6">
                <li>
                    <a href="#">首页</a> <span class="divider"></span>
                </li>
                <li class="active">
                    导师<span class="divider"></span>
                </li>
                <li class="active">成为导师</li>
            </ul>
        </div>
        <div style="padding:20px 15%">
            <h5 align="center" style="color:black;font-family:SimHei">成为导师</h5>
            <p style="line-height:250%;font-family:YouYuan;font-weight:400;">
                <strong style="text-align:left">尊敬的导师：<br></strong>

                您好！<br>

                &nbsp;&nbsp;&nbsp;&nbsp;“京贸创客”是对外经济贸易大学联合北京地区兄弟高校的经济贸易类院系共建的创业联盟，鼓励自由组建创业团队、学科交叉，孵化优秀创业项目。希望借此激发首都高校学生的实践能力、创新精神，以最终达到实践育人的目的。

                我们诚挚地希望邀请您担任“京贸创客”导师，参与到创新创业人才培养的事业中来，运用您自身拥有的资源与行业优势为“京贸创客”平台上的创新项目和团队提供指导和帮助，使更多联盟内更多创业团队受益。如您有意愿接受邀请，请与毕帆老师联系，邮箱bifan.uibe@gmail.com，电话010-64493312。

                随着“京贸创客”的发展，双方可以优势互补，资源共享，合作开展创意创新创业领域的学习和实践活动。

                感谢您的支持和参与！



                <strong style="text-align:right;float:right;"><br>“京贸创客”执行委员会</strong>

            </p>
        </div>
    </div>
</section>

