
@{
    ViewBag.Title = "Recentnews";
}
<style>
    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }
</style>
<section class="sec2">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader">声音 | 近期新闻 </b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section style="display: table;width: 100%;height: auto; padding: 100px 0 100px; color:black;position: relative;">
    <div class="container-fluid" style="padding-left:10%;padding-right:10%">
        <div class="row">
            <ul class="breadcrumb col-md-3 col-xs-6">
                <li>
                    <a href="#">首页</a> <span class="divider"></span>
                </li>
                <li class="active">
                    声音<span class="divider"></span>
                </li>
                <li class="active">近期新闻</li>
            </ul>
            <div class="btn-group col-xs-3 col-md-offset-6 col-xs-offset-3">
                <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">分类新闻<span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-inverse" role="menu" style="min-width:0px;">
                    <li><a href="#">新闻类别一</a></li>
                    <li><a href="#">新闻类别二</a></li>
                    <li><a href="#">新闻类别三</a></li>
                    <li><a href="#">新闻类别四</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="feature">
                    <img src="/img/timelane1.jpg" alt="Compas">
                    <h3 style="margin-top: 25px; margin-bottom: 5px; font-size: 26px;">110</h3>
                    <p style="font-size: 16px;line-height: 1.6;  margin: 0 0 10px;text-wrap:normal;">
                        12345678900066666
                    </p>
                    <a class="btn btn-primary btn-large btn-block" href="#" style="background-color:rgb(0,161,196)">阅读详细</a>
                </div>
            </div>
        </div>
    </div>

</section>


