
@{
    ViewBag.Title = "Voi_Points";
}
<style>
    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }
</style>
<section class="sec2">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader">声音 | 新锐观点 </b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section style="display: table;width: 100%;height: auto; padding: 100px 0 100px; color:black;position: relative;">
    <div class="container-fluid" style="padding-left:10%;padding-right:10%">
        <div class="row">
            <ul class="breadcrumb col-md-3 col-xs-6" style="font-family: 'Arial Unicode MS','Microsoft YaHei UI';">
                <li>
                    <a href="#">首页</a> <span class="divider"></span>
                </li>
                <li class="active">
                    声音<span class="divider"></span>
                </li>
                <li class="active">新锐观点</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <div class="feature">
                    <img src="~/img/qiusuo1.jpg" alt="Compas">
                    <h3 style="margin-top: 25px; margin-bottom: 5px; font-size: 26px;">“创业中国”中关村引领工程（2015—2020年）</h3>
                    <p style="font-size: 16px;line-height: 1.6;  margin: 0 0 10px;text-wrap:normal;">
                        北京日报
                    </p>
                    <a class="btn btn-primary btn-large btn-block imgbtn" href="NewsPage1" style="background-color:rgb(0,161,196)">观点解读</a>
                </div>
            </div>
        </div>
    </div>
</section>

