
@{
    ViewBag.Title = "Recentnews";
}
<style>
    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }
</style>
<div class="col-md-12" style="display:block;height:300px;padding-left:0;padding-right:0;background-image:url(../../img/qiusuo1.jpg);background-size:cover;">

</div>
<div class="col-md-1"></div>
<div class="col-md-10" style="padding-top:2%;padding-bottom:2%">
    <div class="row">
        <ul class="breadcrumb col-md-6">
            <li>
                <a href="#">首页</a> <span class="divider"></span>
            </li>
            <li class="active">声音<span class="divider"></span>
            </li>
            <li class="active">近期新闻</li>
        </ul>
        <button type="button" class="btn btn-info pull-right">分类新闻</button>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4">
        <div class="thumbnail">
            <img alt="100%x120" src="" data-holder-rendered="true" style="height: 120px; width: 100%; display: block;">
            <p style="margin:0 0;">
                <a href="" style="margin-top:2px;margin-bottom:2px;font-family:SimHei;font-size:15px;">新闻标题</a>
            </p>
            <p style="margin:0 0;">
                <a style="margin-top:2px;margin-bottom:2px;font-family:SimHei;font-size:15px;">发布时间</a>
            </p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <ul class="pagination pagination-minimal">
                <li class="previous"><a href="#fakelink" class="fui-arrow-left"></a></li>
                <li class="active"><a href="#fakelink">1</a></li>
                <li><a href="#fakelink">2</a></li>
                <li><a href="#fakelink">3</a></li>
                <li><a href="#fakelink">4</a></li>
                <li><a href="#fakelink">5</a></li>
                <li><a href="#fakelink">6</a></li>
                <li><a href="#fakelink">7</a></li>
                <li><a href="#fakelink">8</a></li>
                <li><a href="#fakelink">9</a></li>
                <li><a href="#fakelink">10</a></li>
                <li class="pagination-dropdown dropup">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fui-triangle-up"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#fakelink">10–20</a></li>
                        <li><a href="#fakelink">20–30</a></li>
                        <li><a href="#fakelink">40–50</a></li>
                    </ul>
                </li>
                <li class="next"><a href="#fakelink" class="fui-arrow-right"></a></li>
            </ul>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>
<div class="col-md-1"></div>
