body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*YangHao settings*/
.navbar-nav > li > a {
    color: white;
}


.navbar-brand {
    color: white;
}



.a:hover .aa {
    display: block;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

.aa {
    display: none;
}


dl > dt {
    color: black;
}

dl.col-xs-1 {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

dl.col-xs-4 {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.col-xs-10 {
    margin-top: 1%;
    margin-bottom: 1%;
    color: black;
}

.cover {
    background: url(../img/overlay.png) repeat scroll 0 0 rgba(0, 0, 0, 0);
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.pagesec {
    display: table;
    height: auto;
    color: black;
    position: relative;
    padding: 70px 0;
    margin-left: 10%;
    margin-right: 10%;
}

.pagecontainer {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.sec {
    background: url(../img/sea.jpg) center fixed;
    background-size: cover;
    display: table;
    width: 100%;
    height: auto;
    padding: 225px 0 225px;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1;
}

.sec2 {
    background: url(../img/qiusuo1.jpg) center fixed;
    background-size: cover;
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0 100px;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1;
}

.secblank {
    background-color: white;
    display: table;
    width: 100%;
    height: auto;
    padding: 180px 0 180px;
    color: black;
    position: relative;
    z-index: 1;
}

.secheader {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-family: 'Microsoft YaHei UI','Arial Unicode MS';
    font-weight: 500;
    margin-top: 0px;
    line-height: 24px;
    margin-bottom: 30px;
    text-transform: uppercase;
    z-index: 1;
}

.seccontent {
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-family: 'Microsoft YaHei UI','Arial Unicode MS';
    font-weight: 200;
    margin-top: 0px;
    line-height: 1.5em;
    margin-bottom: 30px;
    text-transform: uppercase;
    padding-left: 100px;
    padding-right: 100px;
}



.feature {
    border-radius: 5px;
    background: #fff;
    margin: 0 auto 25px auto;
    padding: 15px;
    color: #000;
    text-align: center;
    min-height: 350px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.19);
    cursor: pointer;
}

    .feature:hover {
        box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    }

    .feature img {
        border-radius: 5px 5px 0 0;
        width: 100%;
        height: 150px;
    }

.showpara {
    padding-left: 30px;
}

.showtitle {
    font-family: 'Arial Unicode MS','Microsoft YaHei UI';
    margin-bottom: 30px;
    margin-top: 0px;
}

.showitem {
    padding: 0;
    margin: 0;
}

    .showitem img {
        width: 100%;
        height: 262px;
    }

.imgbtn {
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

    .imgbtn:hover {
        box-shadow: 5px 5px 7px rgba(0,0,0,0.5);
    }
/*calendar*/
.Calendar {
    font-family: Verdana;
    font-size: 12px;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    line-height: 2em;
}

    .Calendar a {
        color: #1e5494;
    }

    .Calendar table {
        width: 100%;
        border: 0;
    }

        .Calendar table thead {
            color: #acacac;
        }

        .Calendar table td {
            font-size: 11px;
            padding: 1px;
        }

#idCalendarPre {
    cursor: pointer;
    float: left;
    padding-right: 5px;
}

#idCalendarNext {
    cursor: pointer;
    float: right;
    padding-right: 5px;
}

#idCalendar td.onToday {
    font-weight: bold;
    color: #C60;
}

#idCalendar td.onSelect {
    font-weight: bold;
}
/*calendar*/
.comdiv {
    overflow: hidden;
    position: relative !important;
    cursor: pointer;
    padding:20px 15px;
}

.comimg {
    height: 130px;
    width: 160px;
    -webkit-transition: -webkit-transform 1s; /* For Safari 3.1 to 6.0 */
    transition: transform 1s;
}

    .comimg:hover {
        -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
        transform: rotate(360deg);
    }

.comtext {
    color: black;
    font-size: 15px;
    font-weight: 600;
    font-family: Arial,'Microsoft YaHei UI';
}
.loginheader{
    font-family:'Microsoft YaHei';
    text-align:center;
    font-size:30px;
    font-weight:bolder;
}