<style>
    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }

    .table > tbody > tr > th {
        text-align: center;
    }

    .table > tbody > tr > td {
        text-align: center;
    }

    dl {
        text-align: center;
    }

    dd {
        color: #3C5B45;
        font-family: Arial;
        font-size: larger;
    }

    dt {
        color: #608D4E;
        font-family: Arial;
        font-size: larger;
    }
</style>
 <!--menue start-->
<div class="panel-group" id="menu" style="min-width:100px">
    <!--侧边菜单第一栏start-->
    <div class="panel panel-default">
        <div class="panel-heading ">
            <h4 class="panel-title ">
                <a href="/Manage/Index#head">个人中心</a>
            </h4>
        </div>

    </div>
    <!--侧边菜单第一栏end-->
    <div class="panel panel-default">
        <div class="panel-heading ">
            <h4 class="panel-title ">
                <a data-toggle="collapse" data-parent="#menu" href="#menuTwo">
                    个人信息
                </a>
            </h4>
        </div>
        <div id="menuTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <ul>
                    <li>
                        <a href="/Manage/RecordList">显示履历</a>
                    </li>
                    <li>
                        <a href="/Manage/UserIdentity">身份验证</a>
                    </li>
                    <li>
                        <a href="/Manage/UserProfile">修改信息</a>
                    </li>
                    <li>
                        <a href="/Manage/ChangePassword">修改密码</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading ">
            <h4 class="panel-title ">
                <a data-toggle="collapse" data-parent="#menu" href="#menuThree">
                    项目团队
                </a>
            </h4>
        </div>
        <div id="menuThree" class="panel-collapse collapse">
            <div class="panel-body">
                <ul>
                    <li>
                        <a href="/Manage/Project">申请项目</a>
                    </li>
                    <li>
                        <a href="/Manage/TeamApply">加入团队</a>
                    </li>
                    <li>
                        <a href="/Manage/TeamMember">成员列表</a>
                    </li>
                    <li>
                        <a href="/Manage/TeamProfile">管理团队</a>
                    </li>
                    <li>
                        <a href="/Manage/TeamRecruit">招募成员</a>
                    </li>
                    <li>
                        <a href="/Manage/Company">注册公司</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>   
    <div class="panel panel-default">
        <div class="panel-heading ">
            <h4 class="panel-title ">
                <a data-toggle="collapse" data-parent="#menu" href="#menuFive">
                    团队事项
                </a>
            </h4>
        </div>
        <div id="menuFive" class="panel-collapse collapse">
            <div class="panel-body">
                <ul>
                    <li>
                        <a href="/TeamEvents/Index">事项主页</a>
                    </li>
                    <li>
                        <a href="/TeamEvents/Edit">事项编辑</a>
                    </li>
                    <li>
                        <a href="/TeamEvents/Details">事项详情</a>
                    </li>
                    <li>
                        <a href="/TeamEvents/Delete">删除事项</a>
                    </li>
                    <li>
                        <a href="/TeamEvents/Create">创建事项</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading ">
            <h4 class="panel-title ">
                <a data-toggle="collapse" data-parent="#menu" href="#menuFour">
                    团队报告
                </a>
            </h4>
        </div>
        <div id="menuFour" class="panel-collapse collapse">
            <div class="panel-body">
                <ul>
                    <!--
                    <li>
                        <a href="/Reports/Index">报告主页</a>
                    </li>
                    <li>
                        <a href="/Reports/Edit">报告编辑</a>
                    </li>
                    <li>
                        <a href="/Reports/Details">报告详情</a>
                    </li>
                    <li>
                        <a href="/Reports/Delete">删除报告</a>
                    </li>-->
                    <li>
                        <a href="/Reports/Create">创建报告</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--menue end-->
