<ul class="nav nav-list well" style="margin-top:15%;margin-bottom:15%;font-size:small;min-width:120px">
    <li>
        <a href="/Manage/Index">个人中心</a>
    </li>
    <li>
        <a href="/Manage/RecordList">显示履历</a>
    </li>
    <li class="nav-header">
        个人信息
    </li>
    <li>
        <a href="/Manage/UserIdentity">身份验证</a>
    </li>
    <li>
        <a href="/Manage/UserProfile">修改信息</a>
    </li>
    <li>
        <a href="/Manage/ChangePassword">修改密码</a>
    </li>
    <li class="nav-header">
        项目团队
    </li>
    <li>
        <a href="/Manage/Project">申请项目</a>
    </li>
    <li>
        <a href="/Manage/TeamApply">加入团队</a>
    </li>
    <li>
        <a href="/Manage/TeamMember">成员列表</a>
    </li>
    <li>
        <a href="/Manage/TeamProfile">管理团队</a>
    </li>
    <li>
        <a href="/Manage/TeamRecruit">招募成员</a>
    </li>
    <li>
        <a href="/Manage/Company">注册公司</a>
    </li>
</ul>
