
@{
    ViewBag.Title = "个人中心";
}


<section class="sec2">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader" id="head">用户 |  个人中心</b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section style="display: table;width: 100%;height: auto; padding: 100px 0 100px; color:black;position: relative;">
    <div class="row" style="padding:0 5%;">
        <b style="font-size:16px;font-weight:bold;color:red;">
            @ViewBag.StatusMessage
        </b>
        <div class="col-xs-2">
            @Html.Partial("_ManageMenuPartial")
        </div>
        <div class="col-xs-10 board" style="background:none;">
            <h5 style="background-color:white;padding:10px 15px;font-family:'Microsoft YaHei';font-size:15px;">系统通知</h5>
            <!--以下为模板内容-->
            <ul style="padding-left:5px;padding-right:5px;">
                <!--以下为一个面板-->
                <li class="msgli">
                    <!--面板首行-->
                     <!--标题-->
                    <div class="msghead">
                        简单的测试标题
                        <!--时间-->
                        <span class="msgtime">
                            2016-04-09 22:16:00
                        </span>
                    </div>
                    <!--面板次行-->
                     <!--内容-->
                    <div class="msgcontent">
                        浙江温州！浙江温州！最大的皮革厂！江南皮革厂倒闭啦！王八蛋老板黄鹤吃喝嫖赌欠下3.5个亿带着他的小姨子跑啦！我们没有办法！拿着钱包抵工资！原价都是一百块两百块三百块的钱包，统统二十元！统统二十元！黄鹤你不是人！黄鹤你还我血汗钱！
                    </div>
                </li>
                <!--以上为一个面板-->
                <li class="msgli">
                    <div class="msghead">
                        简单的测试标题
                        <span class="msgtime">
                            2016-04-09 22:16:00
                        </span>
                    </div>
                    <div class="msgcontent">
                        浙江温州！浙江温州！最大的皮革厂！江南皮革厂倒闭啦！王八蛋老板黄鹤吃喝嫖赌欠下3.5个亿带着他的小姨子跑啦！我们没有办法！拿着钱包抵工资！原价都是一百块两百块三百块的钱包，统统二十元！统统二十元！黄鹤你不是人！黄鹤你还我血汗钱！
                    </div>
                </li>
            </ul>
            <!--以上为模板内容-->
        </div>
    </div>
</section>


