<style>
    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }

    .table > tbody > tr > th {
        text-align: center;
    }

    .table > tbody > tr > td {
        text-align: center;
    }

    dl {
        text-align: center;
    }

    dd {
        color: #3C5B45;
        font-family: Arial;
        font-size: larger;
    }

    dt {
        color: #608D4E;
        font-family: Arial;
        font-size: larger;
    }
</style>
<!--menue start-->
<div class="panel-group" id="menu" style="min-width:100px;">
    <!--侧边菜单第一栏start-->
    <div class="panel panel-default">
        <div class="panel-heading ">
            <h4 class="panel-title ">
                <a href="/Administrator/Index">管理中心</a>
            </h4>
        </div>

    </div>
    <!--侧边菜单第一栏end-->
    <div class="panel panel-default">
        <div class="panel-heading ">
            <h4 class="panel-title ">
                <a data-toggle="collapse" data-parent="#menu" href="#menuTwo">
                    用户管理
                </a>
            </h4>
        </div>
        <div id="menuTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <ul>
                    <li>
                        <a href="/Administrator/UserList">用户列表</a>
                    </li>
                    <li>
                        <a href="/Administrator/IdentityRecords">审核认证</a>
                    </li>
                    <li>
                        <a href="/Administrator/TutorCreate">创建导师</a>
                    </li>
                    <li>
                        <a href="/Administrator/CompanyIdentityRecords">公司管理</a>
                    </li>
                    <li>
                        <a href="/Administrator/ProjectIdentityRecords">项目管理</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading ">
            <h4 class="panel-title ">
                <a data-toggle="collapse" data-parent="#menu" href="#menuThree">
                    活动管理
                </a>
            </h4>
        </div>
        <div id="menuThree" class="panel-collapse collapse">
            <div class="panel-body">
                <ul>
                    <li>
                        <a href="/Administrator/Activities">活动列表</a>
                    </li>
                    <li>
                        <a href="/Administrator/ActivityCreate">添加活动</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading ">
            <h4 class="panel-title ">
                <a data-toggle="collapse" data-parent="#menu" href="#menuFour">
                    文章管理
                </a>
            </h4>
        </div>
        <div id="menuFour" class="panel-collapse collapse">
            <div class="panel-body">
                <ul>
                    <li>
                        <a href="/Administrator/Articles">文章列表</a>
                    </li>
                    <li>
                        <a href="/Administrator/ArticleCreate">添加文章</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading ">
            <h4 class="panel-title ">
                <a data-toggle="collapse" data-parent="#menu" href="#menuFive">
                    材料管理
                </a>
            </h4>
        </div>
        <div id="menuFive" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul>
                    <li>
                        <a href="/Administrator/Materials">材料列表</a>
                    </li>
                    <li>
                        <a href="/Administrator/MaterialCreate">添加材料</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--menue end-->